<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Edit Profile Page</title>
    <link rel="stylesheet" href="/app.css"/>
  </head>

  <body class="loginBackgrnd">
    <div class="login">
    <h1>Edit <%= user.name %>'s Profile Page</h1>
    <form action="/users/<%=user.id%>/edit?_method=PUT" method="POST">
      Name: 
      <p><input type="text" name="name" value="<%=user.name%>" /></p>
      Username:
      <p><input type="text" name="username" value="<%=user.username%>" /></p>
      Password:
      <p><input type="text" name="password" value="<%=user.password%>" /></p>
      Email:
      <p><input type="text" name="email" value="<%=user.email%>" /></p>
      Profession:
      <p><input type="text" name="profession" value="<%=user.profession%>" /></p>
      School Attended:
      <p><input type="text" name="almaMater" value="<%=user.almaMater%>" /></p>
      <br />

      <h2>Add the places you have visited!</h2>
      <select name="business">
        <% for (let i=0; i<business.length; i++) { let selected = ( i == 0
          ) ? "selected" : "";%>
        <option value="<%=business[i].id%>" <%= selected %>> <%= business[i].name %> </option>
        <% } %>
      </select>
      <br/>
      <br/>
      <p class="submit"><input type="submit" value="Edit Profile" />
      <br/>
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
    <p class="submit"><input type="submit" value="Delete User" />
    </form>
    <br /><br />
    <a href="/">Back to Homepage</a>
    </div>
  </body>
</html>
