<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css"/>
  </head>

  
  <header>
      <h1>Welcome to <%= user.name %>'s Profile Page</h1>
  </header>
  <body class="loginBckgrnd">
    <div class="profile">
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      Name: <%=user.name%> 
      <br />
      <br />
      Username: <%=user.username%>
      <br />
      <br />
      Password: <%=user.password%>
      <br />
      <br />
      Email: <%=user.email%>
      <br />
      <br />
      Profession: <%=user.profession%>
      <br />
      <br />
      School Attended: <%=user.almaMater%>
      <br />
      <br />
      <h3>Places you have visited: </h3>
        <% for (let i=0; i<user.Businesses.length; i++) {%>
            <li>
                <%=user.Businesses[i].name %>
            </li>
            <% } %>
      <br/>
      <br/>

    <br /><br />
    <a href="/"><button type="button">Back to Homepage</button></a>
    <a href="/users/<%=user.id %>/edit"><button type="button">Edit Profile</button></a>
    <a href="/users/profile/<%=user.id %>/network"><button type="button">View Network</button></a>
          </div>
  </body>
</html>
