<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
  </head>

  <body>
    <h1>Welcome to <%= user.name %>'s Profile Page</h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=user.password%>" /><br />
      <br />
      <br />
      Email:
      <input type="text" name="email" value="<%=user.email%>" /><br />
      <br />
      <br />
      Profession:
      <input type="text" name="profession" value="<%=user.profession%>" /><br />
      <br />
      <br />
      School Attended:
      <input type="text" name="almaMater" value="<%=user.almaMater%>" /><br />
      <br />

      <h2>Add the places you have visited!</h2>
      <select name="business">
        <% for (let i=0; i<business.length; i++) { let selected = ( i == 0
          ) ? "selected" : "";%>
        <option value="<%=business[i].id%>" <%= selected %>> <%= business[i].name %> </option>
        <% } %>
      </select>
      <br/>
      <br/>
      <input type="submit" value="Edit Profile" />
      <br/>
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>
